@import "../node_modules/bootstrap/scss/bootstrap";

$primary-color: #f57b10;
$secondary-color: #1a1a1d;
$gray-color: #bcbcbc;
$accent-color: #1065f5;
$primary-font: "Teko", sans-serif;
$secondary-font: "Saira", Arial, sans-serif;

body {
  line-height: 1.6;
  color: #333;
  font-family: var($secondary-font);
}

.form-control:focus {
  border-color: $secondary-color;
  box-shadow: none;
}

.btn:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.navbar {
  color: $gray-color;
}

.dropdown-item:hover {
  background-color: $primary-color;
  color: #fff;
}

.dropdown-item:focus {
  background-color: $accent-color;
  color: #fff;
}

.carousel-indicators {
  gap: 1rem;
}

.carousel-indicators [data-bs-target] {
  width: 60px;
  height: 60px;
  border: 1px solid $gray-color;
  display: contents;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border-radius: 1rem;
  background: black;
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
}
