//reset
@use "base/reset";

//bootstrap customizations
@use "bootstrap/custom";

//index page
@use "pages/index";

// product page
@use "pages/product";

// login page
@use "pages/login";

// about us page
@use "pages/aboutUs";

@use "layout/mediaMobile";
