//variables
@use "../utilities/variables" as *;

//mixins
@use "../utilities/mixin" as *;

main {
  .about-us {
    padding: 6rem 4rem;

    img {
      width: 20rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: 500;
      font-family: $primary-font;
      color: $primary-color;
    }

    p {
      font-size: 1.2rem;
      font-family: $secondary-font;
      color: $secondary-color;
      margin-top: 1rem;
    }
  }
}
