//variables
@use "../utilities/variables" as *;

//mixins
@use "../utilities/mixin" as *;

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 1rem;
}

.link-icon {
  width: 2.5rem;
  display: flex;
}

.logo {
  width: 10rem;
  text-decoration: none;
  display: flex;
  padding: 0;
}

header {
  background-color: white;
  font-size: 1.1rem;
  z-index: 1;
  box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 23%);
  position: relative;
}

main {
  font-family: $secondary-font;
  //Hero section
  .hero-section {
    background: $secondary-color;

    .hero-container {
      color: white;
      @include mixinFlex($justify: space-between, $align: center);
      height: 100vh;

      .content {
        @include mixinFlex($direction: column);
        gap: 2rem;
        width: 50%;

        h1 {
          text-transform: uppercase;
          font-size: 10rem;
          font-weight: bold;
          line-height: 1;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          font-family: $secondary-font;
          text-transform: uppercase;
          font-size: 1.3rem;
          position: relative;
          margin-top: 1rem;
          background: black;
          font-weight: 900;
          border: 3px solid white;
          text-decoration: none;
          text-align: center;
          padding: 0.5rem;
          border-radius: 0.5rem;
          width: 70%;
          color: white;

          @include mixinFlex($justify: center, $align: center);

          .icon {
            width: 1.5rem;
            margin-left: 1rem;
          }
        }

        button::before {
          content: "";
          mix-blend-mode: screen;
          position: absolute;
          box-sizing: border-box;
          border: 3px solid white;
          box-sizing: content-box;
          top: -3px;
          left: -3px;
          width: 3%;
          height: 100%;
          border-radius: 0.5rem;
          background-color: $primary-color;
          color: black;
          transition: all 0.5s ease-in-out;
        }

        button:hover::before {
          width: 100%;
        }
      }

      .hero-image {
        display: flex;
        height: 700px;

        .tablet-image {
          display: none;
        }
      }
    }
  }

  .category-section {
    background-color: $primary-color;
    div {
      position: relative;
      @include mixinFlex($direction: column, $align: flex-start);
      h2 {
        display: inline-block;
        position: absolute;
        font-weight: 700;
        padding: 1rem 2rem;
        transform: translateY(-4rem);
        background: #f57b10;
        color: white;
        clip-path: polygon(
          10% 0%,
          90% 0%,
          100% 30%,
          100% 100%,
          70% 100%,
          30% 100%,
          0% 100%,
          0% 30%
        );
        text-transform: uppercase;
        font-size: 1.4rem;
      }

      .category-links {
        display: flex;
        justify-content: center;
        margin: 5rem 0;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;

        li {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 320px;
            height: 250px;
            background: $primary-color;
            border-radius: 1rem;
            filter: grayscale(1);
            scale: 0.99;
            transition: all 0.3s ease-in-out;

            img {
              width: 70%;
            }
          }

          a:hover {
            filter: grayscale(0);
            scale: 1;
          }
        }
      }
    }
  }

  .products-section {
    div {
      div {
        position: relative;
        @include mixinFlex($direction: column, $align: center);
        h3 {
          display: inline-block;
          position: absolute;
          font-weight: 700;
          padding: 1rem 2rem;
          transform: translateY(-4rem);
          top: 0;
          left: 0;
          background: white;
          clip-path: polygon(
            10% 0%,
            90% 0%,
            100% 30%,
            100% 100%,
            70% 100%,
            30% 100%,
            0% 100%,
            0% 30%
          );
          text-transform: uppercase;
          font-size: 1.4rem;
        }
      }

      .product-list {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;

        li {
          position: relative;
          transition: all 1s ease-in-out;

          .card-product {
            border: 3px solid black;
            width: 300px;
            height: 430px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            border-radius: 1rem;
            position: relative;
            .image-container {
              position: relative;
              width: 100%;
              height: 100%;
              overflow: hidden;
              @include mixinFlex($justify: center, $align: center);

              .badge {
                font-size: 0.7rem;
                padding: 0.3rem 0.5rem;
                border-radius: 1rem;
                position: absolute;
                z-index: 1;
                background: $primary-color;
                color: white;
              }

              .shipping {
                right: 1rem;
                background: green;
              }

              .hover-img {
                z-index: 10;
                opacity: 0;
                transition: all 0.3s ease-in-out;
              }

              img {
                position: absolute;
                height: 100%;
              }
            }

            .details {
              @include mixinFlex($direction: column, $align: flex-start);
              width: 100%;
              gap: 0.5rem;
              border-top: 3px solid black;
              padding-top: 1rem;

              .name {
                font-size: 1rem;
                font-weight: 300;
                margin: 0;
              }

              .price {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                margin: 0;
              }

              .shipping {
                margin: 0;
                color: #27b600;
              }

              .sale-price {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                margin: 0;
                color: $accent-color;
                @include mixinFlex($align: center);
                gap: 0.5rem;
                .regular-price {
                  font-size: 1rem;
                  font-weight: 400;
                  text-decoration: line-through;
                  color: $gray-color;
                }
              }

              a {
                position: relative;
                margin-top: 1rem;
                background: black;
                font-weight: 900;
                border: 3px solid black;
                text-decoration: none;
                text-align: center;
                font-size: 1rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                width: 100%;
              }

              a::after {
                @include mixinFlex($justify: center, $align: center);
                content: "COMPRAR";
                position: absolute;
                box-sizing: border-box;
                border: 3px solid black;
                box-sizing: content-box;
                top: -3px;
                left: -3px;
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background-color: white;
                color: black;
                transition: all 0.3s ease-in-out;
              }
            }

            .brand {
              position: absolute;
              font-size: 1rem;
              font-weight: 700;
              padding: 0.3rem 0.5rem;
              color: black;
              top: -1.2rem;
              left: 50%;
              transform: translate(-50%, 0%);
              text-align: center;
              z-index: 1;
              text-transform: uppercase;
              background-color: white;
            }
          }

          .card-product:hover {
            .image-container {
              .hover-img {
                opacity: 1;
              }
            }
            .details {
              a::after {
                background: $primary-color;
                color: white;
                top: -7px;
              }
            }
          }

          .card-product .details a:hover::after {
            background: $accent-color;
            top: -5px;
          }

          .card-product.disabled {
            border: 3px solid $gray-color;

            .image-container {
              filter: grayscale(1);
            }

            .details {
              border-top: 3px solid $gray-color;

              .price {
                color: $gray-color;
              }

              a::after {
                @include mixinFlex($justify: center, $align: center);
                content: "RESERVAR";
                border: 3px solid $gray-color;
                color: $gray-color;
              }
            }

            .brand {
              color: $gray-color;
            }
          }

          .card-product.disabled:hover {
            .details {
              a::after {
                background: $red-color;
                color: white;
                top: -7px;
                border: 3px solid black;
              }
            }
          }

          .card-product.disabled .details a:hover::after {
            top: -5px;
          }
        }

        li::before {
          content: "EN STOCK";
          font-weight: 700;
          position: absolute;
          top: 1rem;
          left: 1rem;
          width: 100%;
          height: 1.5rem;
          @include stroke(2, $primary-color);
          color: white;

          opacity: 1;
          z-index: 20;
          transition: all 0.5s ease-in-out;
        }
        li:hover::before {
          color: $primary-color;
          @include stroke(2, white);
        }

        li[aria-disabled="true"]::before {
          content: "SIN STOCK";
          font-family: $secondary-font;
          font-weight: 700;
          position: absolute;
          top: 1rem;
          left: 1rem;
          width: 100%;
          height: 1.5rem;
          @include stroke(2, white);
          color: $gray-color;
          z-index: 20;
          transition: all 0.5s ease-in-out;
        }

        li[aria-disabled="true"]:hover::before {
          opacity: 1;
          @include stroke(2, RED);
          color: white;
        }
      }

      .see-more-container {
        text-align: center;
        margin-bottom: 5rem;
        .see-more {
          @include mixinFlex($justify: center, $align: center);
          font-family: $secondary-font;
          text-transform: uppercase;
          font-size: 1.3rem;
          position: relative;
          margin-top: 2rem;
          background: white;
          font-weight: 900;
          border: 3px solid black;
          text-decoration: none;
          text-align: center;
          padding: 0.5rem;
          border-radius: 0.5rem;
          padding: 1rem 4rem;
          color: black;
          gap: 1rem;
          img {
            width: 5rem;
          }
        }

        .see-more::before {
          content: "";
          mix-blend-mode: multiply;
          position: absolute;
          box-sizing: border-box;
          border: 3px solid black;
          box-sizing: content-box;
          top: -3px;
          left: -3px;
          width: 3%;
          height: 100%;
          border-radius: 0.5rem;
          background-color: $primary-color;
          color: black;
          transition: all 0.5s ease-in-out;
        }
        .see-more:hover::before {
          width: 100%;
        }
      }
    }
  }
}

footer {
  font-family: $secondary-font;
  background-color: $secondary-color;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
  .footer-links {
    padding: 6rem 1rem;
    list-style: none;
    @include mixinFlex($justify: space-between);
    gap: 1rem;
    margin-bottom: 0.5rem;

    .logo-container {
      width: 16rem;
      gap: 1rem;
      .social-media {
        @include mixinFlex($justify: flex-start, $align: center);
        gap: 1rem;
        img {
          width: 2rem;
          display: block;
        }
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        margin: 0;
      }
    }
    li {
      @include mixinFlex($direction: column);
      P {
        text-align: start;
      }
      .links {
        @include mixinFlex(
          $direction: column,
          $justify: flex-start,
          $align: flex-start
        );
        gap: 1rem;
        padding: 0;
        margin: 0;

        p {
          color: $gray-color;
          margin: 0;
        }

        li {
          a {
            color: $gray-color;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }

          a:hover {
            color: white;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 0.9rem;
    color: $gray-color;
    padding: 1rem;
    margin: 0;
  }
}
