//variables
@use "../utilities/variables" as *;

//mixins
@use "../utilities/mixin" as *;

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 1rem;
}

.link-icon {
  width: 2.5rem;
  display: flex;
}

.logo {
  width: 10rem;
  text-decoration: none;
  display: flex;
  padding: 0;
}

header {
  background-color: white;
  font-size: 1.1rem;
  z-index: 1;
  box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 23%);
  position: relative;
}

main {
  //Hero section
  .hero-section {
    background: $secondary-color;

    .hero-container {
      color: white;
      @include mixinFlex($justify: space-between, $align: center);
      height: 100vh;

      .content {
        @include mixinFlex($direction: column);
        gap: 2rem;
        width: 50%;

        h1 {
          text-transform: uppercase;
          font-size: 10rem;
          font-weight: bold;
          line-height: 1;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          width: 600px;
          padding: 1rem;
          font-size: 1.2rem;
          background: $primary-color;
          color: white;
          border: none;
          border-radius: 8px;
          cursor: pointer;
        }
      }

      .hero-image {
        display: flex;
        height: 700px;
      }
    }
  }

  .category-section {
    div {
      h2 {
        text-transform: uppercase;
        font-size: 2rem;
      }

      .category-links {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;

        li {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 320px;
            height: 250px;
            background: $primary-color;
            border-radius: 1rem;
            filter: grayscale(1);
            scale: 0.99;
            transition: all 0.3s ease-in-out;

            img {
              width: 70%;
            }
          }

          a:hover {
            filter: grayscale(0);
            scale: 1;
          }
        }
      }
    }
  }

  .products-section {
    div {
      div {
        h3 {
          text-transform: uppercase;
          font-size: 1.5rem;
        }
      }

      .product-list {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        list-style: none;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;

        li {
          .card-product {
            border: 1px solid $gray-color;
            width: 300px;
            height: 430px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            border-radius: 1rem;
            position: relative;

            .image-container {
              .badge {
                font-size: 0.7rem;
                padding: 0.3rem 0.5rem;
                border-radius: 1rem;
                position: absolute;
                z-index: 1;
                background: $primary-color;
                color: white;
              }

              .brand {
                font-size: 1rem;
                font-weight: 700;
                padding: 0.3rem 0.5rem;
                border-radius: 1rem;
                color: $gray-color;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 1;
                text-transform: uppercase;
              }

              .shipping {
                right: 1rem;
                background: green;
              }

              img {
                margin-top: 1rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
              }
            }

            .details {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              border-top: 1px solid $gray-color;
              padding-top: 1rem;

              .name {
                font-size: 1rem;
                font-weight: 400;
              }

              .price {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1;
              }

              a {
                background: $primary-color;
                color: white;
                text-decoration: none;
                text-align: center;
                font-size: 1rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
              }
            }
          }
        }
      }

      .see-more-container {
        text-align: center;
        .see-more {
          margin-top: 2rem;
          background: $secondary-color;
          color: white;
          border: none;
          padding: 1rem 5rem;
          font-size: 1rem;
          border-radius: 8px;
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }
  }
}

footer {
  background-color: $secondary-color;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding-top: 5rem;

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
    @include mixinFlex($justify: space-between);
    gap: 1rem;
    margin-bottom: 0.5rem;

    li {
      @include mixinFlex($direction: column);
    }
  }

  .logo-container {
    width: 12rem;
    gap: 1rem;
    p {
      text-align: left;
    }
  }

  .links {
    @include mixinFlex(
      $direction: column,
      $justify: space-between,
      $align: flex-start
    );
  }

  .social-media {
    @include mixinFlex($justify: space-between, $align: center);

    img {
      width: 1.5rem;
      display: block;
    }
  }

  .copyright {
    font-size: 0.9rem;
    color: $gray-color;
    padding: 1rem;
    margin: 0;
  }
}
