@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

main {
  .login-container {
    @include mixinFlex($direction: column, $align: center);
    gap: 2rem;
    margin: 7rem auto;

    .form-login-wrapper {
      background: #f5f5f5;
      padding: 1rem;
      width: 500px;
      border-radius: 0.5rem;

      form {
        label {
          display: block;
        }

        .missing-password {
          text-align: right;
          font-size: 0.9rem;
          margin-bottom: 1rem;
          color: $accent-color;
        }

        input {
          width: 100%;
          padding: 0.5rem;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
          border: 1px solid $gray-color;
          border-radius: 0.5rem;
          font-size: 1rem;
        }

        button[type="submit"] {
          width: 100%;
          padding: 0.8rem;
          font-size: 1rem;
          font-weight: 700;
          background: $secondary-color;
          font-family: $secondary-font;
          color: white;
          border: none;
          border-radius: 0.7rem;
          cursor: pointer;
          text-transform: uppercase;
        }

        button[type="submit"]:hover {
          background: $primary-color;
        }

        .create-account {
          text-align: center;
          margin-top: 1rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
