@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

main {
  section {
    .product-container {
      @include mixinFlex($justify: center);
      gap: 2rem;
      margin: 7rem 0;

      .product-details {
        @include mixinFlex($direction: column);
        gap: 2rem;

        div {
          .brand {
            font-size: 1rem;
            font-weight: 700;
            color: var(--gray-color);
            text-transform: uppercase;
          }

          .name {
            font-size: 2rem;
            font-weight: 600;
          }

          .price {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1;
          }
        }

        .badge-container {
          display: flex;
          gap: 1rem;

          .badge {
            background: $secondary-color;
            color: white;
            font-size: 1rem;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-weight: 600;
          }
        }

        div {
          .color-container {
            display: flex;
            gap: 1rem;

            #white {
              -webkit-appearance: none;
              appearance: none;
              margin: 0;
              background-color: white;
              font: inherit;
              color: currentColor;
              width: 4rem;
              height: 4rem;
              border: 0.15em solid #dedede;
              border-radius: 50%;
              transform: translateY(-0.075em);

              display: grid;
              place-content: center;
            }

            #white::before {
              content: "";
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              transform: scale(0.7);
              transition: 120ms transform ease-in-out;

              box-shadow: inset 1rem 1rem #dedede;
              background-color: #dedede;
            }

            #white:checked::before {
              transform: scale(1.3);
            }

            #black {
              -webkit-appearance: none;
              appearance: none;
              background-color: white;
              margin: 0;

              font: inherit;
              color: currentColor;
              width: 4rem;
              height: 4rem;
              border: 0.15em solid currentColor;
              border-radius: 50%;
              transform: translateY(-0.075em);

              display: grid;
              place-content: center;
            }

            #black::before {
              content: "";
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              transform: scale(0.7);
              transition: 120ms transform ease-in-out;
              background-color: CanvasText;
            }

            #black:checked::before {
              transform: scale(1.3);
            }
          }
        }

        div {
          .quantity-container {
            form {
              div {
                button {
                  width: 2rem;
                  height: 2rem;
                  font-weight: 700;
                  background: $secondary-color;
                  border: none;
                  color: white;
                  border-radius: 0.5rem;
                  cursor: pointer;
                }

                button:hover {
                  background: $primary-color;
                }

                input[type="number"] {
                  width: 4rem;
                  height: 2rem;
                  text-align: center;
                  font-size: 1rem;
                  border: 1px solid $gray-color;
                  border-radius: 0.5rem;
                }
              }
            }
          }
        }

        button[type="submit"] {
          @include fancy-button("Agregar al carrito");
        }
      }
    }

    .description-container {
      border-top: 1px solid $gray-color;
      padding: 7rem 0;
      display: flex;
      gap: 5rem;

      .details {
        display: flex;
        gap: 2rem;
        flex-direction: column;

        img {
          width: 100%;
        }
      }

      .specification {
        display: flex;

        .table-specification {
          width: 100%;
          border-collapse: collapse;
          font-size: 1rem;
          background-color: #f5f5f5;
          color: $secondary-color;
          border-radius: 10px;
          overflow: hidden;

          tbody {
            tr {
              .table-title {
                text-align: left;
                padding: 12px;
                background-color: $primary-color;
                color: white;
                text-transform: uppercase;
                font-size: 1.1rem;

                p {
                  margin: 0;
                }
              }

              td {
                padding: 1rem;
              }
            }
          }
        }
      }

      .details,
      .specification {
        flex: 1;
      }
    }
  }
}
