@use "../base/fonts" as *;

// Color Variables
$primary-color: #f57b10;
$secondary-color: #1a1a1d;
$gray-color: #bcbcbc;
$accent-color: #1065f5;

// Font Variables
$primary-font: "Teko", sans-serif;
$secondary-font: "Saira", Arial, sans-serif;
