//variables
@use "../utilities/variables" as *;

//mixins
@use "../utilities/mixin" as *;

@media screen and (max-width: 640px) {
  main {
    //index page styles
    .container {
      max-width: 330px;
      margin: 0 auto;
      padding: 1rem 0;
    }

    .link-icon {
      width: 2.5rem;
      display: flex;
    }

    .logo {
      width: 8rem;
      text-decoration: none;
      display: flex;
      padding: 0;
    }

    .hero-section {
      .hero-container {
        flex-direction: column;
        padding: 5rem 0;
        height: auto;

        .content {
          width: 100%;
          margin: 0;
          h1 {
            font-size: 5rem;
          }

          button {
            width: 100%;
          }

          button::before {
            width: 100%;
          }
        }

        .hero-image {
          max-width: 330px;
          margin: 0 auto;
          padding: 3rem 0;
          height: auto;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }

    .category-section {
      div {
        .category-links {
          align-items: center;
          padding: 0;

          li {
            a {
              filter: grayscale(0);
              scale: 1;
            }
          }
        }
      }
    }

    .products-section {
      div {
        .product-list {
          flex-direction: column;
          align-items: center;
          gap: 3rem;
          li {
            .card-product {
              .details {
                a::after {
                  background: $primary-color;
                  color: white;
                  top: -7px;
                }
              }
            }

            .card-product.disabled {
              .details {
                a::after {
                  background: $red-color;
                  color: white;
                  top: -7px;
                  border: 3px solid black;
                }
              }
            }
          }
        }

        .see-more-container {
          .see-more {
            padding: 1rem 2rem;
            font-size: 1rem;
            img {
              width: 4rem;
            }
          }
          .see-more::before {
            width: 100%;
          }
        }
      }
    }

    //product page styles
    section {
      .product-container {
        flex-direction: column-reverse;
        margin: 0;

        .carousel {
          .carousel-indicators {
            height: 3.5rem;
            margin-bottom: -5rem;
          }
        }

        .product-details {
          gap: 1rem;
          div {
            .brand {
              font-size: 0.9rem;
            }
            .name {
              font-size: 1rem;
            }

            .price {
              font-size: 1.5rem;
            }
          }

          .badge-container {
            .badge {
              font-size: 0.9rem;
              padding: 0.3rem 0.8rem;
            }
          }

          div {
            .color-container {
              #white {
                width: 3rem;
                height: 3rem;
              }

              #white::before {
                width: 1.5rem;
                height: 1.5rem;
              }

              #white:checked::before {
                transform: scale(1.3);
              }

              #black {
                width: 3rem;
                height: 3rem;
              }

              #black::before {
                width: 1.5rem;
                height: 1.5rem;
              }

              #black:checked::before {
                transform: scale(1.3);
              }
            }
          }
        }
      }

      .description-container {
        flex-direction: column;
      }
    }

    //login page styles
    .login-container {
      .form-login-wrapper {
        width: 100%;
      }
    }
  }

  footer {
    .footer-links {
      max-width: 330px;
      margin: 0 auto;
      padding: 5rem 0;
      flex-direction: column;
      gap: 3rem;
    }
  }
}
