@font-face {
  font-family: "Teko";
  src:
    url("../fonts/Teko font/Teko-Regular.woff2") format("woff2"),
    url("../fonts/Teko font/Teko-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src:
    url("../fonts/Saira font/Saira-Light.woff2") format("woff2"),
    url("../fonts/Saira font/Saira-Light.woff") format("woff");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Saira";
  src:
    url("../fonts/Saira font/Saira-Regular.woff2") format("woff2"),
    url("../fonts/Saira font/Saira-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src:
    url("../fonts/Saira font/Saira-Medium.woff2") format("woff2"),
    url("../fonts/Saira font/Saira-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Saira";
  src:
    url("../fonts/Saira font/Saira-Bold.woff2") format("woff2"),
    url("../fonts/Saira font/Saira-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Saira";
  src:
    url("../fonts/Saira font/Saira-ExtraBold.woff2") format("woff2"),
    url("../fonts/Saira font/Saira-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: extra-bold;
}
